@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"]= "Home";
    ViewData["breadcrumb_active"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<!-- Row -->
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body pb-xl-4 pb-sm-3 pb-0 d-flex justify-content-center align-items-center">
						<img style="width:50%;height:auto" class="" src="~/dashboard/images/pic1.svg" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- column-->
	</div>
</div>