<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<title>FPT Training- @ViewData["title"] </title>
	<link rel="shortcut icon" type="image/png" href="~/favicon.png" />
	<link rel="stylesheet" href="~/login/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="~/login/css/style.css">
</head>
<body class="body h-100">
	@RenderBody()
	<script src="~/login/vendor/global/global.min.js"></script>
	<script src="~/login/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/login/js/custom.min.js"></script>
	<script src="~/login/js/dlabnav-init.js"></script>
	<script src="~/login/js/demo.js"></script>
</body>
</html>